body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./img1/background-final.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 125vh;
}

#stage {
  margin-top: 11vh !important;
  margin-inline: auto;
  width: 946px;
  padding: 0 0 40px;
  text-align: center;
  position: relative;
  background: 10px 175px url("./img1//Slots-background\ \(3\).png") no-repeat;
  max-width: 100vw;
}

#rotate {
  margin: 0 auto;
  width: 960px;
  height: 316px;
  padding-top: 400px;
  transform-style: preserve-3d;
  max-width: 100vw;
}

.img {
  position: absolute;
  top: 7px;
  left: -65px;
  width: 1086px;
}
.ring {
  margin: 0 auto;
  height: 150px;
  width: 150px;
  float: left;
  margin-right: 10px;
  transform-style: preserve-3d;
}

.slot {
  position: absolute;
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  opacity: 0.9;
  color: rgba(0, 0, 0, 0.9);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.backface-on {
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  backface-visibility: visible;
}

.slot p {
  font-size: 36px;
  font-weight: bold;
  line-height: 80px;
  margin: 0;
  text-align: center;
}

.images {
  width: calc(100% + 6px);
  height: 150px;
}

.go {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: none;
}
label {
  cursor: pointer;
  display: inline-block;
  width: 45%;
  text-align: center;
}
.tilted {
  transform: rotateY(45deg);
}
/*=====*/
.spin-0 {
  transform: rotateX(-3719deg);
}
.spin-1 {
  transform: rotateX(-3749deg);
}
.spin-2 {
  transform: rotateX(-3779deg);
}
.spin-3 {
  transform: rotateX(-3809deg);
}
.spin-4 {
  transform: rotateX(-3839deg);
}
.spin-5 {
  transform: rotateX(-3869deg);
}
.spin-6 {
  transform: rotateX(-3899deg);
}
.spin-7 {
  transform: rotateX(-3929deg);
}
.spin-8 {
  transform: rotateX(-3959deg);
}
.spin-9 {
  transform: rotateX(-3989deg);
}
.spin-10 {
  transform: rotateX(-4019deg);
}
.spin-11 {
  transform: rotateX(-4049deg);
}
/*=====*/
@keyframes back-spin {
  /*0%    { transform: rotateX(0deg); }*/
  100% {
    transform: rotateX(30deg);
  }
}
@keyframes tiltin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(45deg);
  }
}
@keyframes tiltout {
  0% {
    transform: rotateY(45deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes spin-0 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3719deg);
  }
}
@keyframes spin-1 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3749deg);
  }
}
@keyframes spin-2 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3779deg);
  }
}
@keyframes spin-3 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3809deg);
  }
}
@keyframes spin-4 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3839deg);
  }
}
@keyframes spin-5 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3869deg);
  }
}
@keyframes spin-6 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3899deg);
  }
}
@keyframes spin-7 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3929deg);
  }
}
@keyframes spin-8 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3959deg);
  }
}
@keyframes spin-9 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-3989deg);
  }
}
@keyframes spin-10 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-4019deg);
  }
}
@keyframes spin-11 {
  0% {
    transform: rotateX(30deg);
  }
  100% {
    transform: rotateX(-4049deg);
  }
}

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: -96px;
  top: 5px;
  width: 120%; /* Full width */
  height: 100%; /* Full height */
  z-index: 3;
}

/* Modal Content/Box */

.modal-content {
  width: 100%; /* Could be more or less, depending on screen size */
}

#credit {
  color: #d18e2c;
  font-size: 2rem;
  position: absolute;
  top: 750px;
  left: 719px;
  font-family: "Roboto";
  font-weight: 700;
}

#spinRemain {
  color: #d18e2c;
  font-size: 2rem;
  position: absolute;
  top: 750px;
  left: 66px;
  font-family: "Roboto";
  font-weight: 700;
}

.go {
  position: absolute;
  top: 697px;
  left: 416px;
  width: 65px;
}

.go:hover {
  opacity: 0.2;
}

.test-shine {
  width: 120px;
  height: 115px;
  background-image: url("./img1/butoon\ \(3\).png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 715px;
  left: 411px;
  border-radius: 5px;
  overflow: hidden;
  display: inline-block;
  transition: all 0.2ss ease;
  border-radius: 50%;
}

.test-shine:after {
  content: "";
  position: absolute;
  top: -50%;
  left: -60%;
  width: 20%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* Hover state - trigger effect */
.test-shine:hover:after {
  opacity: 1;
  left: 130%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.test-shine:hover {
  transform: scale(0.9);
}

/* Active state */
.test-shine:active:after {
  opacity: 0;
}

@media (max-width: 700px) {
  #stage {
    margin-top: 27vh;
  }
}

/* coin */

#gimmick {
  display: block;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.payments {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-left: 93px;
}

.logo-slider {
  background-color: #2c2c2c;
  height: 77px;
  margin-top: 7vh;
}

.slider-container {
  height: 77px;
  background-color: #888;
}

video {
  width: 100%;
  max-height: 100%;
}

/* button play style */

.audios {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-off {
  display: none;
  width: 100px;
}

.image-on {
  width: 100px;
}

@media screen and (min-width: 2000px) {
  body {
    overflow: hidden;
  }
}

@media screen and (min-width: 1166px) {
  #stage {
    margin-inline: auto !important;
  }

  .payments,
  .audios {
    margin-left: 0px !important;
  }
}

@media screen and (min-width: 700px) {
  body {
    background-image: url("./img1/background-final.png") !important;
  }

  .audios {
    margin-left: 0px;
  }
}

@media screen and (min-width: 700px) and (orientation: landscape) and (max-width: 1200px) {
  #stage {
    transform: scale(0.7);
    margin-top: -180px !important;
    margin-left: 3vw !important;
  }
}

@media screen and (min-width: 300px) and (orientation: landscape) and (max-width: 1200px) {
  #stage {
    transform: scale(0.5);
    margin-top: -180px !important;
    margin-left: 3vw !important;
  }

  .payments {
    margin-top: -110px;
  }

  .payment {
    width: 90%;
  }

  .image-off,
  .image-on {
    transform: scale(0.8);
  }

  .audios {
    margin-left: 28px !important;
  }
}

@media screen and (min-width: 300px) {
  body {
    background-image: url("./img1/mobile-background\ \(1\).jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 125vh;
    min-width: 100vw;
  }

  #stage {
    margin-left: 63px;
    margin-top: 20vh;
  }

  .audios {
    margin-left: 105px;
  }
}
